configs:
  cm:
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec --load-restrictor LoadRestrictionsNone"

repoServer:
  env:
    - name: XDG_CONFIG_HOME
      value: /.config
    - name: SOPS_AGE_KEY_FILE
      value: /.config/sops/age/keys.txt
    - name: KUSTOMIZE_PLUGIN_HOME
      value: /.config/kustomize/plugin
    - name: KUSTOMIZE_ENABLE_EXEC
      value: "true"

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: sops-age
      secret:
        secretName: sops-age

  initContainers:
    - name: install-ksops
      image: viaductoss/ksops:v4.3.2
      command: ["/bin/sh", "-c"]
      args:
        - |
          echo "Installing KSOPS...";
          cp /usr/local/bin/ksops /custom-tools/;
          cp /usr/local/bin/kustomize /custom-tools/kustomize-ksops;
          cat <<'EOF' > /custom-tools/kustomize
          #!/bin/sh
          export KUSTOMIZE_PLUGIN_HOME=$HOME/.config/kustomize/plugin
          export KUSTOMIZE_ENABLE_ALPHA_COMMANDS=true
          exec /usr/local/bin/kustomize-ksops "$@"
          EOF
          chmod +x /custom-tools/kustomize;
          echo "Done.";
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  volumeMounts:
    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize
    - mountPath: /usr/local/bin/kustomize-ksops
      name: custom-tools
      subPath: kustomize-ksops
    - mountPath: /usr/local/bin/ksops
      name: custom-tools
      subPath: ksops
    - name: sops-age
      mountPath: /.config/sops/age
